AZ_SUBSCRIPTION_ID=
AZ_RESOURCE_GROUP=rg-itb-report
AZ_LOCATION=eastus
AZ_ACR_NAME=itbreportacr
AZ_CONTAINERAPP_ENV=itb-report-env
AZ_CONTAINERAPP_NAME=itb-report-api
AZ_IMAGE_TAG=latest

SMTP_HOST=
SMTP_PORT=587
SMTP_USE_TLS=true
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=
